@import "tailwindcss";



@theme inline {
  --font-openSans: var(--font-openSans);
  --font-poppins: var(--font-montserrat)
}

p,a{
  font-family: var(--font-poppins);

}
h1,h2,h3,span{
  font-family: var(--font-montserrat);
}

body,html{
  scroll-behavior: smooth;
}